*{margin: 0;padding: 0;box-sizing: border-box;outline: none;}
ul li{
	list-style: none;
}
a{
	text-decoration: none;
}
img{border: none;display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 0.16rem;
	display: flex;
	flex-direction: column;
}
header{
	height: 0.88rem;
	background: #0dc441;
	color: white;
	font-size: 0.34rem;
	text-align: center;
	line-height: 0.88rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
header section{
 width: 1.15rem;
 height: 0.5rem;
 text-align: center;
 line-height: 0.5rem;
 background: #3dd067;
}
header section:nth-child(1){
	border-radius:  0.25rem 0 0 0.25rem;
	
}
header section:nth-child(2){
	border-radius: 0 0.25rem 0.25rem 0;
	background: #64d985;
}

nav{flex: 1;overflow: hidden;background: #f1f1f1;}
.wrap{
	height: 100%;
}
.wrap ul{background: white;margin-bottom: 0.08rem;}
.wrap ul li:nth-child(1){
	
	height: 1.4rem;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.wrap ul li:nth-child(1) div{
	height: 0.33rem;
	width: 1.11rem;

}
.wrap ul li:nth-child(1) div img{
	height: 100%;
	width: 100%;
}
.wrap ul li:nth-child(1) dl{
	display: flex;
	justify-content: space-around;
	height: 0.94rem;
}
.wrap ul li:nth-child(1) dl dt{
	height: 0.94rem;
	width: 0.94rem;
}
.wrap ul li:nth-child(1) dl dt img{
	height: 100%;
	width: 100%;
}
.wrap ul li:nth-child(1) dl dd{
	padding-left:0.2rem; 
	height: 0.94rem;
	font-size: 0.3rem;
}
.wrap ul li:nth-child(1) dl dd span{
	font-size: 0.2rem;
	color: #999999;
}
.wrap ul li:nth-child(2){
	height: 6.35rem;
}
.wrap ul li:nth-child(2) img{
	height: 5.68rem;
	width: 100%;
}
.wrap ul li:nth-child(2) p{
	height: 0.67rem;
	padding: 0.2rem 0.4rem;
	border-bottom: 0.01rem solid #ccc;
	font-size: 0.2rem;
}
footer{
	height: 0.88rem;
	/*background: #0dc441;*/	
	border-top: 0.01rem solid #ced4cc;
}

footer ul{
	height: 0.88rem;
	display: flex;
	position: relative;
	justify-content: space-around;
	align-items: center;
}
footer ul li{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
footer ul li i{
	font-size: 0.34rem!important;
	color: #d6d6d6;}
footer ul li a{
	font-size:0.30rem; 
	color: #e7e7e7;
}
footer ul li:nth-child(1) i{
	color: #0dc441;}
footer ul li:nth-child(1) a{

	color: #0dc441;
}

