<!DOCTYPE html>
<html lang="en" style="font-size: 50px;">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<title>Document</title>
		<link rel="stylesheet" type="text/css" href="css/swiper-3.4.2.min.css">
		<link rel="stylesheet" type="text/css" href="css/index.css">
		<link rel="stylesheet" type="text/css" href="css/font/iconfont.css">
	</head>
	<script>
		(function(doc, win) {
			var docEl = doc.documentElement,
				// orientationchange 事件 用来监听手机屏幕的反转
				resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
				recalc = function() {
					var clientWidth = docEl.clientWidth; //(window.innerWidth);UC 或者QQ 安卓4.0 以下原生浏览器下面是没有
					if(!clientWidth) return;
					docEl.style.fontSize = 100 * (clientWidth / 640) + 'px';
				};
			if(!doc.addEventListener) return;
			win.addEventListener(resizeEvt, recalc, false);
			//DOMContentLoaded dom 加载完成，onload 有什么区别 dom css js OK 才执行的
			doc.addEventListener('DOMContentLoaded', recalc, false);
		})(document, window);
	</script>
	<script src="js/iscroll-probe.js"></script>

	<body>
		<header>
			<section>热点</section>
			<section>关注</section>
		</header>

		<div class="pagination"></div>
		<nav>
			<div class="swiper-container">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<div class="wrap">
							<div class="scroll">
								<ul class="upTag">
									<li><img src="img/1.jpg" alt=""></li>
									<li><img src="img/2.jpg" alt=""></li>
									<li><img src="img/3.jpg" alt=""></li>
									<li><img src="img/4.jpg" alt=""></li>
									<li><img src="img/1.jpg" alt=""></li>
									<li><img src="img/2.jpg" alt=""></li>
									<li><img src="img/3.jpg" alt=""></li>
									<li><img src="img/4.jpg" alt=""></li>
									<script type="text/html" id="con">
										<% for(var i = 0,len=imgs.length;i < len;i++){ 
                                         img=imgs[i];  
                                  %>
										<li><img src="<%= img.url %>" alt=""></li>
										<% } %>
									</script>
								</ul>
								<div id="down" style="height:0rem;width:100%;background-color: #f3f3f3;text-align: center; line-height:0.4rem;">上拉</div>
							</div>
						</div>
					</div>

					<div class="swiper-slide">
						<div class="wrap2">
							<div class="scroll">
								<ul class="upTag">
									<li><img src="img/1.jpg" alt=""></li>
									<li><img src="img/2.jpg" alt=""></li>
									<li><img src="img/3.jpg" alt=""></li>
									<li><img src="img/4.jpg" alt=""></li>
									<li><img src="img/1.jpg" alt=""></li>
									<li><img src="img/2.jpg" alt=""></li>
									<li><img src="img/3.jpg" alt=""></li>
									<li><img src="img/4.jpg" alt=""></li>
									<!--  <script type="text/html" id="con">
                                 <% for(var i = 0,len=imgs.length;i < len;i++){ 
                                         img=imgs[i];  
                                  %>
                                  <li><img src="<%= img.url %>" alt=""></li>                
                                 <% } %>
                            </script>       -->
								</ul>
								<div id="down1" style="height: 0px;width:100%;background-color: #f3f3f3;text-align: center; line-height: 40px;">上拉</div>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="wrap3">
							<div class="scroll">
								<ul class="upTag">
									<li><img src="img/1.jpg" alt=""></li>
									<li><img src="img/2.jpg" alt=""></li>
									<li><img src="img/3.jpg" alt=""></li>
									<li><img src="img/4.jpg" alt=""></li>
									<li><img src="img/1.jpg" alt=""></li>
									<li><img src="img/2.jpg" alt=""></li>
									<li><img src="img/3.jpg" alt=""></li>
									<li><img src="img/4.jpg" alt=""></li>
								
									<!-- <script type="text/html" id="con">
                                 <% for(var i = 0,len=imgs.length;i < len;i++){ 
                                         img=imgs[i];  
                                  %>
                                  <li><img src="<%= img.url %>" alt=""></li>                
                                 <% } %>
                            </script>      -->
								</ul>
								<div id="down2" style="height: 0px;width:100%;background-color: #f3f3f3;text-align: center; line-height: 40px;">上拉</div>
							</div>
						</div>
					</div>
				</div>
		</nav>

		<footer>
			<ul>
				<li style="margin-left: 0.03rem;"><i class="iconfont icon-shouye"></i>
					<a href="#">首页</a>
				</li>
				<li style="margin-left: 0.88rem;"><i class="iconfont icon-faxian"></i>
					<a href="#">发现</a>
				</li>
				<li id="camera" style="width: 1.06rem;height: 1.06rem;border-radius: 0.53rem;border: 0.01rem solid #dedede;position: absolute;top:-0.18rem;z-index: 444;background: #ffffff;left: 50%;margin-left: -0.53rem;"><i class="iconfont icon-xiangji"></i></li>
				<li style="margin-left: 2.22rem;"><i class="iconfont icon-iconfontwode"></i>
					<a href="#">我的</a>
				</li>
				<li style="margin-left: 0.84rem;"><i class="iconfont icon-tuichu"></i>
					<a href="#">退出</a>
				</li>

			</ul>
		</footer>
		<script src="js/zepto.min.js"></script>
		<script type="text/javascript" src="js/template-native.js"></script>
		<script type="text/javascript" src="js/swiper-3.4.2.min.js"></script>

		<script type="text/javascript" src="js/index.js"></script>
	</body>

</html>